name: First workflow Terraform

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  terraform:
    name: "NR GitHub Actions Demo"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: terraform plan -var="account_id=${{ secrets.NEW_RELIC_ACCOUNT_ID }}" -var="api_key=${{ secrets.NEW_RELIC_API_KEY }}"

      - name: Terraform Apply
        run: terraform apply -var="account_id=${{ secrets.NEW_RELIC_ACCOUNT_ID }}" -var="api_key=${{ secrets.NEW_RELIC_API_KEY }}" -auto-approve

      - name: Terraform Destroy
        run: terraform destroy -var="account_id=${{ secrets.NEW_RELIC_ACCOUNT_ID }}" -var="api_key=${{ secrets.NEW_RELIC_API_KEY }}" -auto-approve
